@font-face {
    font-family: "sansblack";
    src: url("../../../Resort\ Fonts/Fontspring-DEMO-resort-sansblack.otf");
}

@font-face {
    font-family: "sansregular";
    src: url("../../../Resort\ Fonts/Fontspring-DEMO-resort-sansregular.otf");
}

@font-face {
    font-family: "sansbold";
    src: url("../../../Resort\ Fonts/Fontspring-DEMO-resort-sansbold.otf");
}

.main-content-text-mobile {
    font-family: sansblack;
    font-size: 2.5rem;
}

.main-content-quote-mobile {
    font-family: sansregular;
}

.main-content-text-desktop {
    font-family: sansblack;
    font-size: 3.5rem;
}

.main-content-quote-desktop {
    font-family: sansregular;
    font-size: 1.25rem;
}
