@font-face {
    font-family: "scriptblack";
    src: url("../../../Resort\ Fonts/Fontspring-DEMO-resort-scriptblack.otf");
}

@font-face {
    font-family: "sansblack";
    src: url("../../../Resort\ Fonts/Fontspring-DEMO-resort-sansblack.otf");
}

.hero-banner-name-mobile {
    font-family: scriptblack;
    font-size: 30vw;
    letter-spacing: 0.5rem;
}

.hero-banner-text-mobile {
    font-family: sansblack;
    position: absolute;
    bottom: 0;
    right: -1.5rem;
    font-size: 3.5vw;
}

.hero-banner-name-desktop {
    font-family: scriptblack;
    font-size: 10rem;
    letter-spacing: 0.5rem;
}

.hero-banner-text-desktop {
    font-family: sansblack;
    position: absolute;
    bottom: 0;
    right: -5rem;
    font-size: 1.4rem;
}