@font-face {
    font-family: "delatto";
    src: url("../../../../Font/DeLatto.ttf");
}

@font-face {
    font-family: "tropicalparadise";
    src: url("../../../../Font/Tropical\ Paradise.ttf");
}

@font-face {
    font-family: "montserrat-extra";
    src: url("../../../../Font/Orange\ Lemonade.otf");
}

.hero-banner-name-mobile {
    font-family: scriptblack;
    font-size: 30vw;
    letter-spacing: 0.5rem;
}

.hero-banner-text-mobile {
    font-family: sansblack;
    position: absolute;
    bottom: 0;
    right: -1.5rem;
    font-size: 3.5vw;
}

.hero-banner-name-desktop {
    font-family: delatto;
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.hero-banner-text-desktop {
    font-family: montserrat-extra;
    position: absolute;
    top: -1rem;
    left: -5rem;
    font-size: 1.75rem;
}